<?xml version="1.0" encoding="utf-8" ?>
<module id="haxeui-theme-retro-block">
    <resources>
        <resource path="/assets/themes/retro_block/" prefix="retro_block" />
    </resources>
    
    <themes>
        <retro-block parent="default">
            <style resource="retro_block/main.css" />
            <style resource="retro_block/buttons.css" />
            <style resource="retro_block/checkboxes.css" />
            <style resource="retro_block/textfields.css" />
            <style resource="retro_block/steppers.css" />
            <style resource="retro_block/dropdowns.css" />
            <style resource="retro_block/ranges.css" />
            <style resource="retro_block/scrolls.css" />
            <style resource="retro_block/tabs.css" />
            <style resource="retro_block/dialogs.css" />
            <style resource="retro_block/propertygrids.css" />
            <style resource="retro_block/menus.css" />
            <style resource="retro_block/listviews.css" />
            <style resource="retro_block/tableviews.css" />
            <style resource="retro_block/frames.css" />
        </retro-block>
    </themes>
    
    <components>
        <component package="components" />
    </components>
</module>